/* navbar */

h1 {
    display: inline-block;
    text-align: center;
}

/* Fine navbar */



/* Tasti */

header {
    padding: 20px;
    border-bottom: lightgrey 2px solid;
}

.tasto-blu {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

.tasto-bianco {
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 8px;
    border: gray 1px solid;
}

/* Fine Tasti */


/* New Task */

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.check {
    font-size: small;
    color: lightgreen;
    background-color: white;
    border-radius: 50%;
    border: lightgreen 1px solid;
}

.editorial {
    font-size: x-small;
    color: white;
    background-color: dodgerblue;
    border-radius: 7px;
    padding: 6px;

}
/* Fine New Task */

.cross {
    font-size: small;
    color: red;
    background-color: white;
    border-radius: 50%;
    border: red 1px solid;
}