* {

    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}



/* navbar */
h1 {
    display: inline-block;
    font-size: 3em;
    margin-block: 0px;
}

#logo {
    vertical-align: middle;
}

/* Fine navbar */



.container {
    width: auto;
    background-color: white;
    border-top: #f6f8f9 50px solid;
    border-inline: #f6f8f9 300px solid;
    border-bottom: #f6f8f9 20px solid;
}



/* Tasti */
header {
    font-size: small;
    padding: 20px;
    border-bottom: #f6f8f9 3px solid;
}

.tasto-blu {
    background-color: dodgerblue;
    color: white;
}

.tasto-bianco {
    background-color: white;
    color: gray;
    border: gray 1px solid;
}

.tasto-blu,
.tasto-bianco {
    border-radius: 5px;
    padding: 8px;
}

/* Fine Tasti */



/* Task */

.prova {
    margin-inline: 40px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.check {
    color: lightgreen;
    border: lightgreen 1px solid;
}

.cross {
    color: red;
    border: red 1px solid;
}

.check,
.cross {
    font-size: x-small;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.task {
    margin-bottom: 10px;
}

/* Task */



/* Etichette */

.etichetta {
    font-size: x-small;
    color: white;
    border-radius: 7px;
    padding: 6px;
}

.editorial {
    background-color: dodgerblue;
}

.goals {
    background-color: purple;
}

.recruiting {
    background-color: lightseagreen;
}

.mobile {
    background-color: lightsalmon;
}

.website {
    background-color: fuchsia;
}

.sales {
    background-color: lightgreen;
}

/* Fine etichette */