/* navbar */

h1 {
    display: inline-block;
    text-align: center;
}

/* Fine navbar */

.container{
    width: auto;
    background-color: white;
    border-top: #f6f8f9 50px solid;
    border-inline: #f6f8f9 400px solid;
    border-bottom: #f6f8f9 20px solid;

}

/* Tasti */

header {
    padding: 20px;
    border-bottom: lightgrey 2px solid;
}

.tasto-blu {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

.tasto-bianco {
    background-color: white;
    color: gray;
    border-radius: 5px;
    padding: 8px;
    border: gray 1px solid;
}

/* Fine Tasti */


/* New Task */

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.check {
    font-size: small;
    color: lightgreen;
    background-color: white;
    border-radius: 50%;
    border: lightgreen 1px solid;
}

.cross {
    font-size: small;
    color: red;
    background-color: white;
    border-radius: 50%;
    border: red 1px solid;
}
/* Fine New Task */

.task{
    margin-inline: 40px;
}


/* Etichette */

.etichetta{
    font-size: x-small;
    color: white;
    border-radius: 7px;
    padding: 6px;
}

.editorial {
    background-color: dodgerblue;
}

.goals{
    background-color: purple;
}

.recruiting{
    background-color: lightseagreen;
}
.mobile{
    background-color: lightsalmon;
}

.website{
    background-color: fuchsia;
}

.sales{
    background-color: lightgreen;
}
/* Fine etichette */
